<div class="about">



    <div class="containerBlock">
        <div class="notDev">
            <div class="imgNotdev">
                <span>
                    <h4>Quienes Somos</h4>

                </span>
                <img [src]="'assets/images/nosotros/fachada.jpg'" alt="Fachada del restaurante">
            </div>
            <div class="textFootNotDev">
                <p>La cooperativa restaurante "Sabores del Mundo" es una institución formada íntegramente por mujeres
                    inmigrantes emprendedoras, que frente a la crisis económica que vivimos, hemos optado por asumir la
                    tarea de constituir nuestra fuente de trabajo, para lo cual hemos tomado el área de la gastronomía
                    latinoamericana como una opción.</p>

            </div>
        </div>



        <div class="team">
            <h2>Equipo</h2>


            <div class="cardTeam">

                <article class="card">
                    <img src="./assets/images/nosotros/catalina.jpg" alt="Catalina Lescano Álvarez">
                    <div class="card-content">
                        <h4>Catalina Lescano Álvarez</h4>
                        <p>Nacida en Contumazá, Cajamarca, con experiencia en gastronomía peruana y española. Desde su
                            motivación por contribuir a la transformación de la sociedad se interesó por el
                            asociacionismo y el emprendimiento social. Se involucró en un proyecto de economía solidaria
                            para constituir una cooperativa, la cual se hace realidad en 2009. Con el nombre de SABORES
                            DEL MUNDO Sociedad Cooperativa Madrileña en la zona de Carabanchel en Madrid. Tiene
                            reconocimientos por la: Cámara de Comercio de Perú en España, Comunidad de Madrid y
                            universidades como emprendedora y colaboradora con colectivos interesados en el autoempleo y
                            la solidaridad. Da conferencias y talleres prácticos en coordinación con universidades y
                            Delegaciones de la Comunidad de Madrid sobre Cooperativismo; durante el año realiza
                            actividades culturales, celebrando fechas conmemorativas.</p>
                    </div>
                </article>

                <article class="card">
                    <img src="./assets/images/nosotros/pedro.jpg" alt="Pedro Chunquiano">
                    <div class="card-content">
                        <h4>Pedro Chunquiano</h4>
                        <p>
                            Nacido en Tauca, Huaraz. Emigró del Perú por la crisis económica a comienzos de la década
                            del 2000, cuenta con estudios de Contabilidad. Es una persona con grandes habilidades e
                            inteligencia para solucionar dificultades en electricidad, fontanería, y hostelería, es
                            decir es una persona a la que llamamos “manitas”. En España ha trabajado en diversas
                            ocupaciones y profesiones, como camarero en diversos restaurantes españoles y Oficial de
                            cocina. Desde hace cuatro años es socio de la Cooperativa SABORES DEL MUNDO donde ejerce el
                            cargo de Camarero de Sala y Ayudante de Cocina. .El lugar de origen de Pedro, es una
                            provincia cercana a la de Abelino Valentín, por lo que el compañerismo es un sello de
                            identidad entre los dos y en la Cooperativa</p>
                    </div>
                </article>

                <article class="card">
                    <img src="./assets/images/nosotros/avelino.jpg" alt="Avelino Valentín">
                    <div class="card-content">
                        <h4>Avelino Valentín</h4>
                        <p>Nacido en Sicsibamba, Huaraz. Empezó su trayectoria profesional en Lima, para después dar el
                            salto a Europa. En España viene demostrando su gran saber del arte culinario aprendido. Es
                            un artista de la cocina, con sus manos y conocimientos de la gastronomía peruana ha puesto
                            su sello particular de SABORES DEL MUNDO, haciendo de este lugar el punto de encuentro y de
                            referencia de quienes buscan la auténtica comida de diversas zonas del Perú. La calidad de
                            sus platos viene respaldada por la utilización de los productos originarios del país inca
                            para no variar la composición y sabor de las recetas autóctonas. Es un administrador
                            solidario de la Cooperativa de la que también forma parte como socio desde hace más de cinco
                            años, desempeñándose en el cargo de jefe de cocina. Es muy querido por sus compañeros de
                            trabajo y clientes.</p>
                    </div>
                </article>

                <article class="card">
                    <img src="./assets/images/nosotros/fachada.jpg" alt="Cooperativa Sabores del Mundo">
                    <div class="card-content">
                        <h4>Cooperativa</h4>
                        <p>Las cooperativas nacen de la capacidad emprendedora de un grupo de personas creada a partir
                            de la capacidad profesional colectiva, manteniendo una actitud continua de escucha a las
                            demandas y evolución del mercado. Sus valores, son: Responsabilidad, Democracia, Igualdad,
                            Equidad y Solidaridad. SABORES DEL MUNDO es una Sociedad Cooperativa Madrileña formada por
                            inmigrantes de Perú y Colombia, es un claro ejemplo de cooperativas de trabajo asociado, que
                            crea una fuente de trabajo y que ha elegido a la gastronomía peruana como parte de su
                            quehacer. Fue creada en Noviembre de 2009 inicialmente por un grupo de mujeres inmigrantes;
                            a través del tiempo se han incorporado hombres, en la actualidad es un centro de trabajo
                            consolidado con cuatro puestos de trabajo. Y con deseos de seguir creciendo.</p>
                    </div>
                </article>

            </div>


        </div>


    </div>